# Livro

In [3]:
numero_certo = 42
rodada = 1
qtd = 3
numero = 0
while rodada < qtd:
    numero = int(input('Informe o numero'))
    if numero < numero_certo:
        print('Errou o numero que vc digitou é menor')
    elif numero > numero_certo:
        print('Errou o numero que vc digitou é maior')
    elif numero == numero_certo:
        print('Você acertou')
        break

Informe o numero 25

Errou o numero que vc digitou é menor

Informe o numero 45

Errou o numero que vc digitou é maior

Informe o numero 42

Você acertou

### ESTRUTURA DE REPETIÇÃO FOR

In [4]:
for rodada in range(1,10):
    print(rodada)

1
2
3
4
5
6
7
8
9

In [7]:
for rodada in range(1,10,2):
    print(rodada)

1
3
5
7
9

In [9]:
numere_sec = 42
qtd = 3
numero = 0
for rodada in range(0,qtd):
    numero = int(input('Digite o numero !'))
    if numero == numero_certo:
        print('Você acertou parabéns')
        break
    elif numero < numero_certo:
        print('Você Errou, nnumero Menor')
    elif numero > numero_certo:
        print('Você Errou, numero Maior')

Digite o numero ! 45

Você Errou, numero Maior

Digite o numero ! 42

Você acertou parabéns

In [18]:
print('--- Escholha um nivel ---')
print('--- Nivem 1 (20 tentaivas) ---')
print('--- Nivem 2 (10 tentaivas) ---')
print('--- Nivem 3 (5 tentaivas) ---')
print('--- Você comça com 1000 pt e perde qdt erra ---')
nivel = 0
numero_sec = 42
numero = 0
pontos = 1000
pt_perdidos = int(0)


while nivel != 1 and nivel != 2 and nivel != 3:
    nivel = int(input('Informe o numero !'))
    if nivel != 1 and nivel != 2 and nivel != 3:
        print('Escolha invalida !')
print('Você escolheu o nevel {}'.format(nivel))

for rodada in range(0,nivel):
    numero = int(input('Digite um numero'))
    if numero == numero_sec:
        print('Você acertou')
        print('FIM')
        break
    elif numero < numero_sec:
        print('Erro numero menor')
        pt_perdidos = (numero_sec  - numero)
        print('Você perdeu {} pontos'.format(pt_perdidos))
    elif numero > numero_sec:
        print('Errou numero maior')
        pt_perdidos = (numero_sec  - numero)
        print('Você perdeu {} pontos'.format(pt_perdidos))

--- Escholha um nivel ---
--- Nivem 1 (20 tentaivas) ---
--- Nivem 2 (10 tentaivas) ---
--- Nivem 3 (5 tentaivas) ---
--- Você comça com 1000 pt e perde qdt erra ---

Informe o numero ! 3

Você escolheu o nevel 3

Digite um numero 21

Erro numero menor
Você perdeu 21

Digite um numero 43

Errou numero maior
Você perdeu -1

Digite um numero 42

Você acertou
FIM

### JOGO DA FORCA

In [23]:
num = [1,2,4,5]

In [24]:
len (num)

4

In [25]:
0 in num

False

### LISTAS

In [33]:
lista1 = [1,2,3,4,5]
lista2 = ['pytoh','java','c#l']
lista = [1,2,'pytohn',3.5,'java']

In [34]:
type(lista)

list

In [35]:
lista[-1]

'java'

In [36]:
lista = list('python')
lista

['p', 'y', 't', 'h', 'o', 'n']

In [39]:
print('A lista contem {} letras'.format(len(lista)))

A lista contem 6 letras

In [40]:
meses = ['janeiro','fevereiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro']

In [58]:
meses[0]

'janeiro'

In [74]:
n = 0
n = int(input('Més'))
res = n - 13
meses[res]

print(meses[res])

Més 11

novembro

In [79]:
for i in range (0,3) :
    mes = int(input('Escolha  um mês (1 - 12)'))
    if mes > 1 or mes < 12:
        print('O mês escolhido foi {}'.format(meses[mes - 13]))

Escolha  um mês (1 - 12) 3

O mês escolhido foi março

Escolha  um mês (1 - 12) 12

O mês escolhido foi dezembro

Escolha  um mês (1 - 12) 11

O mês escolhido foi novembro

In [80]:
lista = [1,2,3,4,5]

In [81]:
lista[0:2]

[1, 2]

In [82]:
lista[:2]

[1, 2]

In [83]:
lista[2:]

[3, 4, 5]

In [84]:
lista[-3:]

[3, 4, 5]

In [92]:
lista[1:4]

[2, 3, 4]

In [89]:
import pandas as pd

In [90]:
pd.Series(lista)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [95]:
lista = []
lista.append('zero')
lista.append('um')
lista

['zero', 'um']

In [101]:

lista = ['um','dois','tres','quatro','cinco','seis','set','oito','nove','dez']

In [102]:
for valores in lista:
    print(valores)

um
dois
tres
quatro
cinco
seis
set
oito
nove
dez

## TUPLAS

In [103]:
dias = ('segunda','terça','quanta','quinta','sexta','sabado','domingo')

In [104]:
type(dias)

tuple

In [105]:
texto = ('python')
tuple(texto)

('p', 'y', 't', 'h', 'o', 'n')

In [107]:
len(texto)

6

## CHAVES

In [109]:
frutas = {'bananas','laranja','uva','pera','laranja','uva','abacate'}

In [110]:
frutas

{'abacate', 'bananas', 'laranja', 'pera', 'uva'}

In [111]:
type(frutas)

set

In [112]:
a = set('abacate')

In [113]:
a

{'a', 'b', 'c', 'e', 't'}

## DICIONARIO

In [114]:
pessoa = {'nome':'João','idade':25,'cidade':'são paulo'}

In [115]:
pessoa

{'nome': 'João', 'idade': 25, 'cidade': 'são paulo'}

In [116]:
pessoa['nome']

'João'

In [117]:
pessoa['pais'] = 'Brasil'

In [118]:
pessoa

{'nome': 'João', 'idade': 25, 'cidade': 'são paulo', 'pais': 'Brasil'}

In [119]:
pd.Series(pessoa)

nome           João
idade            25
cidade    são paulo
pais         Brasil
dtype: object

In [126]:
data = pd.DataFrame(data = pessoa,index = [1,2,3,4])
data

   nome  idade     cidade    pais
1  João     25  são paulo  Brasil
2  João     25  são paulo  Brasil
3  João     25  são paulo  Brasil
4  João     25  são paulo  Brasil

In [127]:
pessoa.keys()

dict_keys(['nome', 'idade', 'cidade', 'pais'])

In [135]:
lista = [12,-2,4,8,29,45,78,36,-17,2,12,8,3,3,-52]

In [132]:
import numpy as np

In [133]:
np.max(lista)

78

In [136]:
np.min(lista)

-52

In [154]:
lista[0]

12

In [156]:
np.mean(lista)

11.266666666666667

In [159]:
for soma in lista:
    if soma < 0:
        soma2 = soma + soma
print(soma2)

-104

In [158]:
- 2 + -17 + -52

-71

In [162]:
for pares in lista:
    print(pares)

12
-2
4
8
29
45
78
36
-17
2
12
8
3
3
-52

In [169]:
lista = []

da = ['nome','sobrenome','idade']
for i in da:
    dados = input('Informe seu dados {}'.format(i))
    lista.append(dados)
print(lista)

Informe seu dados nome jose
Informe seu dados sobrenome cordeiro
Informe seu dados idade 34

['jose', 'cordeiro', '34']

In [4]:

for nota in range(1,5):
    notas = int(input('Informe a sua {}'.format(nota)))
    
soma = notas * 4
media = soma / 4
print('A médias das notas é {}'.format(media))

Informe a sua 1 10
Informe a sua 2 10
Informe a sua 3 10
Informe a sua 4 10

A médias das notas é 10.0

In [175]:
40/4

10.0

In [ ]:
pagina