# Objetos de índice

Os objetos de índice dos pandas são responsáveis ​​por manter os rótulos dos eixos e outros metadados (como o nome ou os nomes dos eixos). Qualquer matriz ou outra sequência de rótulos que você usa ao construir uma Série ou DataFrame é convertida internamente em um Índice:

In [2]:
import numpy as np
import pandas as pd

In [3]:
obj = pd.Series(range(3),index = ['a','b','c'])
obj

a    0
b    1
c    2
dtype: int64

In [5]:
index = obj.index

In [6]:
index

Index(['a', 'b', 'c'], dtype='object')

In [8]:
index[1:]

Index(['b', 'c'], dtype='object')

Os objetos de índice são imutáveis ​​e, portanto, não podem ser modificados pelo usuário:

In [12]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [13]:
obj2 = pd.Series([1.5,-2.5,0],index = labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [14]:
obj2.index is labels

True

Além de ser semelhante a uma matriz, um Índice também se comporta como um conjunto de tamanho fixo:

In [29]:
data = {'Nevada':['Nan',2.4,2.9],'Ohio':[1.5,1.7,3.6]}

In [30]:
frame3 = pd.DataFrame(data,index = [2000,2001,2002])

In [32]:
frame3.index.name ='year'

In [33]:
frame3

     Nevada  Ohio
year
2000    Nan   1.5
2001    2.4   1.7
2002    2.9   3.6

In [35]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object')

In [37]:
'Ohio' in frame3.columns

True

In [38]:
2003 in frame3.index

False

Ao contrário dos conjuntos Python, um índice do pandas pode conter rótulos duplicados:

In [40]:
dup_labels = pd.Index(['foo','foo','bar','bar'])
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')


# Funcionalidade essencial

Esta seção o guiará pela mecânica fundamental de interação com os dados contidos em uma série ou um DataFrame. Nos próximos capítulos, iremos nos aprofundar nos tópicos de análise e manipulação de dados usando pandas. Este livro não pretende servir como documentação exaustiva para a biblioteca de pandas; em vez disso, focaremos nos recursos mais importantes, deixando as coisas menos comuns (ou seja, mais esotéricas) para você explorar por conta própria. 

## Reindexando 

Um método importante nos objetos pandas é a reindexação, que significa criar um novo objeto com os dados em conformidade com um novo índice. Considere um exemplo:

In [42]:
obj = pd.Series([4.5,7.2,-5.6,3.6],index = ['a','b','c','d'])
obj

a    4.5
b    7.2
c   -5.6
d    3.6
dtype: float64

A chamada reindexar nesta série reorganiza os dados de acordo com o novo índice, introduzindo valores ausentes se algum valor de índice ainda não estiver presente:

In [43]:
obj2 = obj.reindex(['a','b','c','d','e'])

In [44]:
obj2

a    4.5
b    7.2
c   -5.6
d    3.6
e    NaN
dtype: float64

Para dados ordenados, como séries temporais, pode ser desejável fazer alguma interpolação ou preenchimento de valores ao reindexar. A opção method nos permite fazer isso, usando um método como ffill, que preenche os valores a seguir:

In [45]:
obj3 = pd.Series(['blue','purple','yellow'],index = [0,2,4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [49]:
obj3.reindex(range(6),method = 'ffill') # esse metodo reondena os valores adptando ao indice

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Com o DataFrame, a reindexação pode alterar o índice (linha), colunas ou ambos. Quando passada apenas uma sequência, reindexa as linhas no resultado:

In [3]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index = ['a','b','c'],columns = ['Ohio','Texas','California'])
frame

   Ohio  Texas  California
a     0      1           2
b     3      4           5
c     6      7           8

In [52]:
frame2 = frame.reindex(['a','b','c','d'])

In [53]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   3.0    4.0         5.0
c   6.0    7.0         8.0
d   NaN    NaN         NaN

As colunas podem ser reindexadas com a palavra-chave column:

In [4]:
states = ['Texas','Utha','California']

In [55]:
frame.reindex(columns = states) # podemos tambem reindexar as colunas atraves do reindex
frame

   Ohio  Texas  California
a     0      1           2
b     3      4           5
c     6      7           8

Como exploraremos mais detalhadamente, você pode reindexar de maneira mais sucinta, indexando rótulos com loc, e muitos usuários preferem usá-lo exclusivamente:

In [5]:
frame.iloc[['a','b','c','d'],states]

TypeError: cannot perform reduce with flexible type